<div class="">
    <h4>Welcome to bookmarkr</h4>
    <hr>
    <div class="row">
        <div class="col-md-12">
            Store your favourite bookmarks anywhere and anytime.
            <div class="row">
                <div class="col-md-7">
                    <div class="home-wallpaper">
                        <img src="assets/images/home-wallpaper.jpeg" width="600px" height="400px">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="header">Fast bookmark manager</div>
                    With bookmarkr you can store your favorite links online on your private and customizable bookmarks page. All your bookmarks can be organized into categories and dashboards.

                    <br>
                    <br>
                    <div class="header">Full mobile support</div>
                    On the go? No problem with our mobile web app! Your bookmarks can be accessed from anywhere on desktop or mobile. Import your existing browser bookmarks from all major browsers.
                </div>
            </div>
        </div>
    </div>
</div>