<div class="container">
  <h6>Bookmarks List
    <div class="pull-right" *ngIf="totalItems > 5 && !this.bookmarkService.isSearchActive">
      <span class="mr-2">Total: {{ totalItems }}</span>
        <button type="button" class="btn btn-sm btn-outline-secondary prev-btn mr-3" (click)="onPrevPage()" [disabled]="currentPage == 1">
          < Prev</button>
        <span class="pages">Page {{ currentPage }} of {{ totalPages }}</span>
        <button type="button" class="btn btn-sm btn-outline-secondary next-btn ml-3" (click)="onNextPage()" [disabled]="currentPage == totalPages">Next ></button>
    </div>
  </h6>
  <hr>

  <div class="alert alert-info" *ngIf="bookmarks.length == 0">
    Create your new bookmark list here.
  </div>

  <span *ngIf="this.bookmarkService.isSearchActive">{{ onSearch() }}</span>

  <!-- using ngFor to display all list of bookmarks  -->
  <ul class="list-group" *ngFor="let bookmark of bookmarks | search: this.bookmarkService.searchString | slice: startValue: endValue; let i = index;">
    <li class="list-group-item">
      <div class="float-left">
        <div class="bookmark-desc">{{ bookmark.bookmark_description | shorten }}</div>
        <div class="bookmark-link">{{ bookmark.bookmark_url | shorten }}</div>
      </div>
      <div class="float-right">
        <a [href]="bookmark.bookmark_url" target="_blank" role="button" class="btn btn-success mr-2">Visit</a>
        <button type="button" class="btn btn-primary mr-2" (click)="onEditBookmark(this.bookmarks.indexOf(this.bookmark))" data-toggle="modal" data-target="#editBookmark">Edit</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteBookmark(this.bookmarks.indexOf(this.bookmark))">Delete</button>
      </div>
    </li>
  </ul>
</div>

<!-- adding bookmark-edit template as bookmark-list child -->
<app-bookmark-edit></app-bookmark-edit>