.list-group li {
    margin-bottom: 10px;
}
.bookmark-link {
    color: #333;
    font-size: 14px;
}
.prev-btn, .next-btn {
    margin-top: -5px;
    padding: 3px 10px;
}
button:disabled {
    cursor: not-allowed;
}

.list-group-item {
    padding: 10px 0;
}

.mobile-only {
    display: none;
}

.action-btn {
    text-align: right;
}

@media (min-width: 320px) and (max-width: 767px) {
    .bkmkr {
        margin-bottom: 20px;
    }
    .mobile-only {
        display: block;
    }
    .action-btn {
        text-align: left;
    }
}