.list-group li {
    margin-bottom: 10px;
}
.bookmark-link {
    color: #333;
    font-size: 14px;
}
.prev-btn, .next-btn {
    margin-top: -5px;
    padding: 3px 10px;
}
button:disabled {
    cursor: not-allowed;
}

.list-group-item {
    padding: 10px 0;
}

.mobile-only {
    display: none;
}

.action-btn {
    text-align: right;
}

@media (min-width: 320px) and (max-width: 767px) {
    .bkmkr {
        margin-bottom: 20px;
    }
    .mobile-only {
        display: block;
    }
    .action-btn {
        text-align: left;
    }
}

.load-container {
    position: absolute;
    margin: auto;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
}

.outer-ring {
    color: transparent;
    position: relative;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid dodgerblue;
    z-index: 1000;
    width: 60px;
    height:  60px;
    animation: spiner 1s infinite ease;
}
@keyframes spiner {
    0% {
       transform: rotate(0deg); 
    }

    100% {
        transform: rotate(360deg);
    }
}