.list-group li {
    margin-bottom: 10px;
}
.bookmark-link {
    color: #333;
    font-size: 14px;
}
.prev-btn, .next-btn {
    margin-top: -5px;
    padding: 3px 10px;
}
button:disabled {
    cursor: not-allowed;
}