<div class="container no-padding">

  <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="col-md-12 col-sm-12 col-xs-12 bkmkr-header no-padding" *ngIf="totalItems <= 5 && !this.bookmarkService.isSearchActive">
      <i class="fa fa-list"></i>&nbsp;Bookmarks List&nbsp;&nbsp; <i class="fa fa-flag"></i>&nbsp;Total: {{ totalItems }}
      
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
        <div *ngIf="totalItems > 5 && !this.bookmarkService.isSearchActive">
            <span class="mr-2"><i class="fa fa-list"></i> Bookmarks List &nbsp;&nbsp; <i class="fa fa-flag"></i> Total: {{ totalItems }}</span>

            <hr class="mobile-only">
              <button type="button" class="btn btn-sm btn-outline-secondary prev-btn mr-3" (click)="onPrevPage()" [disabled]="currentPage == 1">
                < Prev</button>
              <span class="pages"><i class="fa fa-file"></i> Page {{ currentPage }} of {{ totalPages }}</span>
              <button type="button" class="btn btn-sm btn-outline-secondary next-btn ml-3" (click)="onNextPage()" [disabled]="currentPage == totalPages">Next ></button>
          </div>
    </div>
  </div>
  <hr>

  <div class="alert alert-info" *ngIf="bookmarks.length == 0">
    Create your new bookmark list here.
  </div>

  <span *ngIf="this.bookmarkService.isSearchActive">{{ onSearch() }}</span>

  <!-- using ngFor to display all list of bookmarks  -->
  <ul class="list-group" *ngFor="let bookmark of bookmarks | search: this.bookmarkService.searchString | slice: startValue: endValue; let i = index;">
    
    <li class="list-group-item col-md-12 col-sm-12 col-xs-12">
      <div class="float-left col-md-8 col-sm-8 col-xs-12 bkmkr">
          <a [routerLink]="['/bookmark', this.bookmarks.indexOf(this.bookmark) ]">
            <div class="bookmark-desc">{{ bookmark.bookmark_description | shorten }}</div>
          </a>
        <div class="bookmark-link">{{ bookmark.bookmark_url | shorten }}</div>
      </div>
      <div class="float-right action-btn col-md-4 col-sm-4 col-xs-12">
        <a [href]="bookmark.bookmark_url" target="_blank" role="button" class="btn btn-success mr-2" title="Visit link">
          <i class="fa fa-link"></i>
        </a>
        <button type="button" class="btn btn-primary mr-2" title="Edit" (click)="onEditBookmark(this.bookmarks.indexOf(this.bookmark))" data-toggle="modal" data-target="#editBookmark">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger" title="Delete" (click)="onDeleteBookmark(this.bookmarks.indexOf(this.bookmark))">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </li>
  </ul>
</div>

<!-- adding bookmark-edit template as bookmark-list child -->
<app-bookmark-edit></app-bookmark-edit>