<div class="container">
  <h6>Bookmarks List</h6>
  <hr>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="float-left">
        <div class="bookmark-desc">Google</div>
        <div class="bookmark-link">https://www.google.com</div>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-success mr-2">Visit</button>
        <button type="button" class="btn btn-primary mr-2">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </li>
    <li class="list-group-item">

    </li>
  </ul>
</div>