<div class="">
  <h4>Features</h4>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="header">Online bookmarks</div>
        <div class="card-body">Store your favorite links online on your private and customizable bookmarks page. All your bookmarks can be organized
          into categories and dashboards.</div>
      </div>
      <div class="card mb-3">
        <div class="header">Available Anywhere</div>
        <div class="card-body">Available Anywhere At home or on the go? No problem with our mobile web app! Your bookmarks can be accessed and managed
          from anywhere on desktop or mobile.</div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="header">Performance</div>
        <div class="card-body">We take great pride in providing you with an accessible site that's both fast and easy to use. All your favorite links are kept confidential.</div>
      </div>
      <div class="card mb-3">
        <div class="header">Your support</div>
        <div class="card-body">
            We're constantly looking for new ways to improve the site and expand its features, so if you have a great idea for a new feature, we'd love to hear from you!</div>
      </div>
    </div>
  </div>
</div>