<div class="">
  <h4>Contact</h4>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div>Please fill the below form for any queries or suggestions: </div>
      <hr>
      <div class="contact-form">
        <form>
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" type="text"></textarea>
          </div>
          <hr>
          <div class="form-group">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="contact-details">
        <div>Reach us out:</div>
        <hr>
        <div class="address">
          <div>
            <strong>Office Address:</strong>
          </div>
          <div>#007, 19<sup>th</sup> Street,
            <br> Park Avenue, Awesome City,
            <br> Bangalore.
            <br> Pincode: 560100
          </div>
        </div>
        <hr>
        <div class="phone">
          <div>
            <strong>Phone:</strong>
          </div>
          <div>Landline: +91 - 9876543210 <br>
            Fax: +91 1234567890
          </div>
        </div>
      </div>
    </div>
  </div>