<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6">
    <form (ngSubmit)="f.valid && onSignup(f)" #f="ngForm">
      <div class="form-group">
        <h4>Sign Up / Register</h4>
        <hr>
        <label>Email</label>
        <input class="form-control" type="email" id="email" name="email" email #email="ngModel" required ngModel>
        <p class="error-message" *ngIf="email.touched && email.invalid">Please type correct email address</p>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" id="password" name="password" minlength="6" required #password="ngModel" ngModel>
        <p class="error-message" *ngIf="password.touched && password.invalid">Please type correct password</p>
        <hr>
      </div>
      <div class="form-group">
        <button class="btn btn-primary mr-2" type="submit" [disabled]="!f.valid">Sign Up</button>
      </div>
    </form>

    <div class="alert alert-danger" *ngIf="authService.isDuplicateUser">
      Sorry, email address already exist! Please
      <a *ngIf="authService.isDuplicateUser" routerLink="/signin">Sign In</a>.
    </div>

    <div class="alert alert-success" *ngIf="authService.isSignupSuccessful && !authService.isDuplicateUser">
      You're successfully signed up now. Please  <a routerLink="/signin">Sign In</a> to continue.
    </div>
  </div>
</div>