<div class="">
  <h4>About</h4>
  <hr>
  <div class="row about-row">
    <div class="col-md-2" class="abt-img">
      <img src="assets/images/bookmark.png" class="about-image">
    </div>
    <div class="col-md-10">
      Bookmarkr allows you to store all your bookmarks/favorites in one online location, making them easy to access and manage
      from anywhere. Your bookmarks (organized by category) are displayed on a simple, well laid out page. It will even integrate
      with your web browser, allowing you to bookmark any site you are currently visiting with a click of your mouse.
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-10">
      A bookmark has a title, URL, a description of unlimited length, and one or more optional tags. You can see when the bookmark
      was saved, and click through to see who else has saved it. If you sign up for archiving (see below), you also get a
      link to a stored copy of the page, viewable by clicking the little checkbox next to the title.
    </div>
    <div class="col-md-2" class="abt-img">
      <img src="assets/images/link-icon.jpg" class="about-image">
    </div>
  </div>
</div>