/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Ubuntu', sans-serif;
}
.btn:focus, a:focus {
    outline: none;
}
.btn:disabled {
    cursor: not-allowed;
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
form .error-message {
    color: red;
}