<div class="container bookmark-add no-padding">
    <!-- form to add bookmark using template driven approach -->
    <form (ngSubmit)="onAddBookmark(f)" #f="ngForm">
        <h6>Create Bookmarks</h6>
        <hr>
        <div class="form-group">
            <label>Bookmark Description</label>
            <input class="form-control" type="text" minlength="3" id="bookmarkDesc" name="bookmarkDesc" ngModel #bookmarkDesc="ngModel" required>
            <p class="error-message" *ngIf="bookmarkDesc.touched">Please type atleast 3 characters!</p>
        </div>
        <div class="form-group">
            <label>Bookmark Link</label>
            <input class="form-control" type="text" minlength="5" id="bookmarkLink" name="bookmarkLink" ngModel #bookmarkLink="ngModel" required>
            <p class="error-message" *ngIf="bookmarkLink.touched">Please type valid link.</p>
            <hr>
        </div>
        <div class="form-group">
            <button class="btn btn-primary mr-2" type="submit" [disabled]="!f.valid">Add bookmark</button>
            <button class="btn btn-secondary" type="button" (click)="onClear(f)">Clear</button>
        </div>
    </form>

    <div class="alert alert-success alert-dismissible" *ngIf="f.submitted">
        <a type="button" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Bookmark added successfully.
    </div>

</div>